@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="sellerInfoForm">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="sellername" name="商家" underline="true"
                    hidden="sellerid" readonly="readonly"
                    clickFun="CouponInfoDlg.showSellerNameSelectTree(); return false;"
                    style="background-color: #ffffff !important;"
                    selectFlag="true" selectId="sellerContent" selectTreeId="sellerTree"
                    selectStyle="width:244px !important;"/>
                    <#TimeCon id="beginDay" name="起始时间" isTime="false"/>
                </div>
                <div class="col-sm-6">
                    <#input id="num" name="数量" underline="true"/>
                    <#TimeCon id="endDay" name="结束时间" isTime="false"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CouponInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CouponInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/biz/coupon/coupon_info.js"></script>
<script>
    laydate.render({
        elem: '#beginDay'
    });
    laydate.render({
        elem: '#endDay'
    });
</script>
@}
