<!-- 我的优惠券展示页面 -->
<!DOCTYPE html>
<html>
<head>
    <title>我的优惠券</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="${ctxPath}/static/favicon.ico">
    <link href="${ctxPath}/static/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="${ctxPath}/static/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="${ctxPath}/static/css/style.css?v=4.1.0" rel="stylesheet">
    <link rel="stylesheet" href="${ctxPath}/static/modular/biz/coupon/card.css">
    <script>
        var pageWidth = 320;
        var phoneScale = parseInt(window.screen.width) / pageWidth;
        document.write('<meta name="viewport" content="width=' + pageWidth + ', initial-scale = ' + phoneScale + ', maximum-scale = ' + phoneScale + ', maximum-scale = ' + phoneScale + ', target-densitydpi=device-dpi, user-scalable=0" />');
    </script>
</head>
<body>
<div style='background-color:#F0F0F0;color:#000;margin-right:auto;margin-left:auto;width:320px;min-height:565px;border:1px #FFF solid'>
    <div id="container" class="container">
        @for(coupon in list!){
        <div class="card-box">
            <div class="card-detail">
                <div class="card-detail-top bg${coupon.bg}">
                    <div>${coupon.sellername}</div>
                    <div><span>1</span>张</div>
                </div>
                <div class="card-detail-bottom">
                    <span>领取时间：${coupon.receptDay,dateFormat="yyyy-MM-dd HH:mm"}</span>
                    <span>使用期限：${coupon.beginDay,dateFormat="yyyy-MM-dd"}~${coupon.endDay,dateFormat="yyyy-MM-dd"}</span>
                    <span>${coupon.status}</span>
                </div>
            </div>
        </div>
        @}
    </div>
</div>
<!-- 全局js -->
<script src="${ctxPath}/static/js/jquery.min.js?v=2.1.4"></script>
<script src="${ctxPath}/static/js/bootstrap.min.js?v=3.3.6"></script>
</body>
</html>


