@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
            <input type="hidden" id="address" value="${address}">
            <div class="row">
                <div class="panel panel-danger">
                    <div class="panel-heading">${address}</div>
                    <div class="panel-body">
                        <br/>
                        <div class="text-center">
                            <div id="qrcode"></div>
                            <br/>
                            <div>扫码领取更简单</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="${ctxPath}/static/js/plugins/qrcode/jquery.qrcode.js"></script>
<script type="text/javascript" src="${ctxPath}/static/js/plugins/qrcode/qrcode.js"></script>
<script src="${ctxPath}/static/modular/biz/coupon/qrcode.js"></script>
@}
