<!DOCTYPE html>
<!--优惠券领取页面-->
<html>
<head>
    <title>优惠券领取页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="${ctxPath}/static/favicon.ico">
    <link href="${ctxPath}/static/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="${ctxPath}/static/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="${ctxPath}/static/css/style.css?v=4.1.0" rel="stylesheet">
    <link rel="stylesheet" href="${ctxPath}/static/modular/biz/coupon/reception.css">
    <script>
        var pageWidth = 320;
        var phoneScale = parseInt(window.screen.width) / pageWidth;
        document.write('<meta name="viewport" content="width=' + pageWidth + ', initial-scale = ' + phoneScale + ', maximum-scale = ' + phoneScale + ', maximum-scale = ' + phoneScale + ', target-densitydpi=device-dpi, user-scalable=0" />');
    </script>
</head>
<body>
<div style='background-color:#F0F0F0;color:#000;margin-right:auto;margin-left:auto;width:320px;height:565px;border:1px #FFF solid'>

    <div class="containser">
        <div class="row">
            <div id="couponDiv">
                <span class="text-danger congratulate">优惠券领取</span>
            </div>
            <input type="hidden" name="ctxPath" id="ctxPath" value="${ctxPath}"/>
            <!-- 表单数据 -->
            <form id="defaultForm" class="form-horizontal text-center">
                <div class="form-group">
                    <label for="userTel">手机号：</label>
                    <input type="text" name="userTel" id="userTel"/>
                </div>
                <div class="form-group">
                    <label for="couponId">优惠券：</label>
                    <input type="text" name="couponId" id="couponId" value="${couponId}" readonly="readonly"/>
                </div>
                <div class="form-group">
                    <button class="btn btn-sm btn-danger btn-inline submitBtn" onclick="Reception.receptSubmit()"
                            type="button">立即领取
                    </button>
                    <button class="btn btn-sm btn-danger btn-inline submitBtn" onclick="Reception.mylist()"
                            type="button">我的优惠券
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
<!-- 全局js -->
<script src="${ctxPath}/static/js/jquery.min.js?v=2.1.4"></script>
<script src="${ctxPath}/static/js/bootstrap.min.js?v=3.3.6"></script>
<script src="${ctxPath}/static/js/common/Feng.js"></script>
<script src="${ctxPath}/static/js/plugins/validate/bootstrapValidator.min.js"></script>
<script type="text/javascript" src="${ctxPath}/static/modular/biz/coupon/reception.js"></script>
</body>
</html>
