@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
            <input type="hidden" id="id" value="${item.id}">
            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="name" name="卖家名称" value="${item.name}" underline="true"/>
                    <#input id="addr" name="卖家地址" value="${item.addr}" />
                </div>

                <div class="col-sm-6">
                    <#select id="status" name="状态">
                    <option value="1">启用</option>
                    <option value="0">禁用</option>
                </
                #select>
            </div>
        </div>

        <div class="row btn-group-m-t">
            <div class="col-sm-10">
                <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="SellerInfoDlg.editSubmit()"/>
                <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="SellerInfoDlg.close()"/>
            </div>
        </div>
    </div>

</div>
</div>
<script src="${ctxPath}/static/modular/biz/seller/seller_info.js"></script>
@}
